
CompileFlags:
  Add: 
    - -I/home/nathaniel/embedded_ws/vortex-auv-embedded/psm_orin/include/
    - -I/opt/ros/humble/include/
    - -I/opt/ros/humble/include/rclcpp/
    - -I/opt/ros/humble/include/rcutils/
    - -I/opt/ros/humble/include/rmw/
    - -I/opt/ros/humble/include/rosidl_runtime_c/
    - -I/opt/ros/humble/include/rosidl_typesupport_cpp/
    - -I/usr/include/
    - -I/usr/include/eigen3/
    - -I/usr/lib/llvm-16/include/
    - -I/home/nathaniel/embedded_ws/spdlog/include/
    - -Wall
    - -Wextra

Diagnostics:
  ClangTidy:
    Add: [readability-identifier-naming]
    CheckOptions:
      readability-identifier-naming.VariableCase: camelCase
      readability-identifier-naming.GlobalVariableCase: snake_case
      readability-identifier-naming.ConstantCase: UPPER_SNAKE_CASE
      readability-identifier-naming.FunctionCase: camelCase
      readability-identifier-naming.TypeCase: PascalCase
      readability-identifier-naming.StructCase: PascalCase
      readability-identifier-naming.EnumCase: PascalCase
      readability-identifier-naming.EnumConstantCase: UPPER_SNAKE_CASE
      readability-identifier-naming.MacroDefinitionCase: UPPER_SNAKE_CASE
      readability-identifier-naming.ParameterCase: camelCase
      readability-identifier-naming.MemberCase: camelCase
